= content_for :head do
  :javascript
    $(document).ready(on_load_list_form)

= form_for @list do |f|
  - if @list.errors.any?
    #error_explanation
      %h2= "#{pluralize(@list.errors.count, "error")} prohibited this list from being saved:"
      %ul
        - @list.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre, :id => :name
    = f.text_field :name

  %hr

  %h3
    Refuerzo
    %br
    %br

    = hidden_field_tag(:video, "/assets/#{@list.video}.jpg")

    .row-fluid
      .span4
        .span12
          - if @list.video == 'backyardigans'
            = image_tag '/assets/backyardigans.jpg', :style => 'height:300px;cursor:pointer;', :class => 'reinforcement glow_effect'
          - else
            = image_tag '/assets/backyardigans.jpg', :style => 'height:300px;cursor:pointer;', :class => 'reinforcement'
      .span4
        .span12
          - if @list.video == 'ben10'
            = image_tag '/assets/ben10.jpg', :style => 'height:300px;cursor:pointer;', :class => 'reinforcement glow_effect'
          - else
            = image_tag '/assets/ben10.jpg', :style => 'height:300px;cursor:pointer;', :class => 'reinforcement'
      .span4
        .span12
          - if @list.video == 'lazytown'
            = image_tag '/assets/lazytown.jpg', :style => 'height:300px;cursor:pointer;', :class => 'reinforcement glow_effect'
          - else
            = image_tag '/assets/lazytown.jpg', :style => 'height:300px;cursor:pointer;', :class => 'reinforcement'

  %hr

  - if @list.id
    %h3
      Juegos

      %ul#levels{"data-update-url" => sort_lists_url}
        - @levels.each do |level|
          = content_tag_for :li, level do
            = level.name
    %span
      Agregá juegos a tu lista haciendo click en el que quieras:

    %br
    %br

    - games.each do |game|
      %h4
        = game.name
      %div{style: 'margin-right:800px;height:160px;width:100%;'}
        - game.levels.each do |level|
          = render 'level_card', :game => game, :level => level, :list => @list

    .actions
      = f.submit 'Grabar'

  -else
    .actions
      = f.submit 'Guardar y agregar juegos'
