= form_for @list do |f|
  - if @list.errors.any?
    #error_explanation
      %h2= "#{pluralize(@list.errors.count, "error")} prohibited this list from being saved:"
      %ul
        - @list.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre, :id => :name
    = f.text_field :name

  %hr

  - if @list.id
    %h3
      Juegos

      %ul#levels{"data-update-url" => sort_lists_url}
        - @levels.each do |level|
          = content_tag_for :li, level do
            = level.name
    %span
      Agregá juegos a tu lista haciendo click en el que quieras:

    %br
    %br

    - games.each do |game|
      %h4
        = game.name
      %div{style: 'margin-right:800px;height:160px;width:100%;'}
        - game.levels.each do |level|
          = render 'level_card', :game => game, :level => level, :list => @list


  .actions
    = f.submit 'Grabar'
