%div{style: 'border: 1px #000 solid; width: 140px; height: 128px;padding:8px; float:left; margin-right: 10px;'}
  %div
    = "#{game.name} | Nivel #{level.order} "
  %h4
    = level.name
  = "Duración estimada: #{level.duration / 60} minutos"
