%h1 Mis listas de juegos

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @lists.each do |list|
    %tr
      %td= list.name
      %td= link_to 'Play', start_sessions_path(list.id), method: :post
      %td= link_to 'Edit', edit_list_path(list)
      %td= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New List', new_list_path
