
%h2 Mis listas de juegos

%hr

- if @lists.empty?
  %br
  %p
    Aún no posees listas de juegos.
    = link_to 'Crea una nueva', new_list_path
  %br
  %br
- else
  %table
    - @lists.each do |list|
      %tr
        %td(style="padding: 10px")= list.name
        %td
          .btn-group
            = link_to 'Jugar', start_sessions_path(list.id), method: :post, :class => 'btn btn-success'
            = link_to 'Editar', edit_list_path(list), :class => 'btn btn-info'
            = link_to 'Ver estadísticas', sessions_path(list_id: list.id), :class => 'btn btn-info'
            = link_to 'Borrar', list, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-inverse'


  %hr

= link_to 'Nueva lista de juegos', new_list_path, :class => 'btn btn-primary'

%br
%br
