- content_for(:head) do
  :javascript
    $(function() {
      if (window.nextUrl) {
        //total_video_duration = $("#videoPlayer").get(0).duration Not working, video is not visible yet. Will use a defult number
        total_video_duration = 49000
        prize_duration = total_video_duration / #{@total_number_of_levels} * #{@step}

        window.setTimeout(function() {
          window.location = window.nextUrl;
        }, prize_duration);
      }
    });

%video#videoPlayer{:autobuffer => "", :autoplay => "autoplay",  :poster => "/assets/#{@prize_media_name}.jpg"}
  %source{:src => "/assets/#{@prize_media_name}.mp4", :type => "video/mp4"}
    %img{:alt => "Film Poster", :height => "180", :src => "/assets/#{@prize_media_name}.jpg", :width => "320"}
