- content_for :head do
  :javascript
    $(document).ready(function() { on_load('#{@question}') })

%div
  %h1
    Apareos

  %div#container
    .left_column
      - @choices_left.each do |choice|
        - if choice == @question
          .left_choice.question{style: "background-image: url(#{asset_path choice});"}
        - else
          .left_choice{style: "background-image: url(#{asset_path choice})"}
    .vertical-rule
    .right_column
      - @choices_right.each do |choice|
        - if choice == @answer
          .right{style: "background-image: url(#{asset_path choice})"}
        - else
          .wrong{style: "background-image: url(#{asset_path choice})"}

= hidden_complete_iteration_form