- content_for :head do
  :javascript
    $(document).ready(function() { on_load('#{@data.question.image}') })

%div
  %h1
    Parecidos

  %div#container
    .left_column
      - @data.left_column_choices.each do |choice|
        - if choice.image == @data.question.image
          .left_choice.question
            = image_tag(asset_path choice.image)
        - else
          .left_choice
            = image_tag(asset_path choice.image)
    .vertical-rule
    .right_column
      - @data.right_column_choices.each do |choice|
        - if choice.image == @data.answer.image
          .right
            = image_tag(asset_path choice.image)
        - else
          .wrong
            = image_tag(asset_path choice.image)


= hidden_complete_iteration_form
