<div class="well">
<h2>Entra</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password, 'Contraseña'%>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, 'No cerrar sesión' %>

  <% end -%>

  <div><%= f.submit "Entra", class: 'btn btn-primary'  %></div>
<% end %>
</div>

<%= render "devise/shared/links" %>
