!!! 5
%html
  %head
    %title
      PlayfulList
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head

%body
  %div{ :class => "container " + (@body_css || "") }
    #user_nav
      - if user_signed_in?
        Signed in as #{current_user.email}. Not you?
        \#{link_to "Sign out", destroy_user_session_path, :method => :delete}
      - else
        = link_to "Sign up", new_user_registration_path
        ,
        \#{link_to "Sign in", new_user_session_path}
        or
        \#{link_to "Sign in as a demo user", sign_in_as_demo_user_path}
    - unless notice.blank?
      .alert.alert-success
        = notice
    = yield
