!!! 5
%html
  %head
    %title
      ¡Puedo Jugar Solo!
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head

%body
  .navbar
    .navbar-inner
      .brand
        %center
          %h1(style="font-family: 'Pacifico'; font-size: 56px;")
            %a{href:"/", style:"text-decoration:none;"}
              %span(style="color: #fdb02e") ¡Puedo
              %span(style="color: #F38630;") jugar
              %span(style="color: #FA6900;") solo!
    %ul.nav{style:"width:100%;background-color:#F38630;"}
      %li{:class =>"#{"active" if params[:controller] == "home" && params[:action] == "index"}"}
        %a{href:"#{}"}
          ="Inicio"
      %li{:class =>"#{"active" if params[:controller] == "lists"}"}
          =link_to "Mis Listas", lists_path
      %li{:class =>"#{"active" if params[:controller] == "home" && params[:action] = "por_que"}"}
        =link_to "¿Por qué 'Puedo Jugar Solo'?", por_que_path
      %ul.nav.pull-right
        - if user_signed_in?
          %li
            = link_to "Salir", destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to "Crea una cuenta", new_user_registration_path
          %li
            = link_to "Ingresa al sistema", new_user_session_path
          %li
            = link_to "Ingresa como usuario demo", sign_in_as_demo_user_path
  %div{ :class => "container " + (@body_css || "") }
    - unless notice.blank?
      .alert.alert-success
        = notice
    = yield
