!!! 5
%html
  %head
    %title
      ¡Puedo Jugar Solo!
    = stylesheet_link_tag    "application", :media => "all"
    %style
      html, body { height: 100%; }
    = javascript_include_tag "application"
    = render 'shared/google_analytics'
    = csrf_meta_tags
    = yield :head

%body
  = yield
